.card-container {
    
    display: flex;
    margin: 30px;
    flex-direction: column;
    gap: 30px;
    width: 500px;
    height: fit-content;
    border: 2px solid black;
    border-radius: 6px;
    padding: 40px;
    background-color: darkgray;
  }
  
  .card-info {
    font-size: 15px;
    
  }
  
  .avatar {
    border-radius: 5px;
    border: 5px solid yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
.cardH1 {
    color: black;
}
